@use "../../assets/scss/variables" as vars;

.stepItem {
  width: 24px;
  height: 24px;
  // background-color: vars.$primary;
  border-radius: 50%;
  padding: 15px;
  border: 2px solid vars.$primary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

/*   display: flex;
  justify-content: center;
  align-items: center; */
}

.stepItemCircle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  z-index: 100;
}

.active {
  background-color: vars.$primary;
  box-shadow: vars.$glow-box-shadow;
}